body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    top: 0;
    overflow-x: hidden;
}

.low-nav-list {
    display: none
}

.small-menu {
    display: none;
}

.nav-list__item {
    display: inline;
}

.nav {
    width: 100%;
    min-width: 100%;;
    height: 111px;
    padding: 0;
    margin: 0;
    background-color: #24292e;
    display: grid;
    grid-template-columns: 5% 95%;
}

.logo-big {
    display: grid;
    height: 111px;
    justify-content: center;
    background-color: #24292e;
} 


.logo-big img {
    width: 100%;
    height: 100%;
}

.nav-list {
    padding: calc((111px - 23px) / 2);
    margin: 0;
    text-align: left;
}

.nav-list__item_link {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgb(210, 212, 214);
}

.content-wrapper {
    width: 100%;
    top: 0;
    padding: 0;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgb(0, 0, 0, 0.9);
    background-image: url(bg_news.jpg);
    background-size: cover;
}

.overlay {
    width: 100%;
    top: 0;
    padding: 0;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgb(0, 0, 0, 0.5);
}

.content {
    height: auto;
}

.title-wrap {
    height: auto;
    width: 100%;

    opacity:0;
	transition: 1s;
	
	animation: show .3s 1;
    animation-fill-mode: forwards;
    animation-delay: .3s;

}

@keyframes show{
    0%{
        opacity:0;
    }
    
    
    100% {
        opacity:1;
    }
}

.title {
    width: 100%;
    height: auto;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 5px;
    color: rgb(210, 212, 214);
    padding: 5px;
    margin: auto;
    text-align: left;
}

.news-content__list_item {
    height: 100%;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgb(210, 212, 214);

    opacity:0;
	transition: 1s;
	
	animation: show .3s 1;
    animation-fill-mode: forwards;
    animation-delay: .3s;
}

.news-content__list {
    margin: auto;
    padding: 5px;
    text-align: left;
    list-style-type: none;
}

@media all and (min-width: 650px) and (min-height: 650px) {

    .content-wrapper {
        height: calc(100vh - 111px);
    }

    .overlay {
        height: calc(100vh - 111px);
    }

}

@media all and (max-width: 1443px) {

    .content-wrapper {
        width: 100%;
    }

    .nav {
        display: none;
    }
    
    .small-menu {
        background-color: #24292e;
        height: 111px;
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: space-between;
    }

    .logo {
        display: grid;
        justify-content: start;
        align-content: center;
        padding: 2px;
        background-color: #24292e;
        z-index: 900;
    }

    .logo img {
        width: 100%;
        height: auto;
    }

    .menu-img {
        display: grid;
        justify-content: center;
        align-content: center;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 2px;
        padding-right: 2px;
        background-color: #24292e;
        z-index: 900;
    }

    .btn-img:hover .image {
        display: none;
    }

    .btn-img:hover .low-nav-list {
        display: grid;
        background-color: #24292e;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .btn-img:hover .low-nav-list .nav-list__item .nav-list__item_link {
        background-color: #24292e;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 3px;
        color: rgb(210, 212, 214);
    }

    .btn-img:hover .small-menu {
        height: auto;
    }

    .btn-img {
        width: 100%;
    }

}

a {
   color: rgb(210, 212, 214);
}

a:link { 
    text-decoration: none;
    color: rgb(210, 212, 214);
} 

a:active {
    text-decoration: none;
    color: rgb(210, 212, 214);
}
a:hover {
	text-decoration: underline;
	color: rgb(255, 6, 6);
}