body {
	width: 100%;
	height: 100%;
	margin: 0;
}

.main-wrapper {
	width: 100%;
	height: 100%;
}

.content {
	width: 100%;
	height: 100%;
}

.fullscreen-bg {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	/* width: 100%;
	height: 100%; */
	overflow: hidden;
	z-index: -100;
}

.fullscreen-bg__video {
	position: absolute;
	top: 0;
	left: 0;
	min-height: 100%;
	min-width: 100%;
	width: auto;
	height: auto;
}


@media (min-aspect-ratio: 16/9) {
	.fullscreen-bg__video {
		height: 300%; 
		top: -100%; 
	}
}
@media (max-aspect-ratio: 16/9) {
	.fullscreen-bg__video {
		width: 300%;
		left: -100%;
	}
}

@supports (object-fit: cover) {
	.fullscreen-bg__video {
		top: 0; 
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.overlay-content {
	background-color: rgba(0,0,0,0.7);
	min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.overlay-content:target {
	background-color: rgba(0,0,0,0.9);
}

.overlay__name {
	background: transparent;
    color:white;
    font-weight: bold;
    font-size: 260%;
    mix-blend-mode: overlay;
    padding: 6vh 8vh;
    text-align: center;
	border-radius: 0.4em;
	letter-spacing: 10px;
	font-weight: 900;
}

.overlay__name a {
	color:white;
    font-weight: bold;
    font-size: 30%;
    mix-blend-mode: overlay;
    /* padding: 6vh 8vh; */
    text-align: center;
	border-radius: 0.4em;
	letter-spacing: 10px;
	font-weight: 900;
}

.menu-button__img {
	width: 30px;
	height: 30px;
}

.nav {
	display: none;
	width: 100%;
	height: 100%;
	position: relative;
	float: left;
	left: 0;
}

.closedmenu-button {
	display: inline-block;
}

.closedmenu-button:target {
	display: none;
}

.closed-button-link {
	display: none;
}

.closed-button-link {
	display: none;
}

.closed-button-link:target {
	display: inline-block;
}

.nav-list__item {
	font-size: 20px;
	letter-spacing: 5px;
	color: white;
}

.menu-button {
	display: inline-block;
}

.menu-button:target {
	display: none;
}

a:link { 
    text-decoration: none;
} 
a:visited {
	text-decoration: none;
	color: rgba(255, 255, 255, 0)
} 
a:active {
	text-decoration: none; 
}
a:hover {
	text-decoration: underline;
	color: rgb(206, 161, 136);
}

.nav:target {
	display: grid;
	grid-template-columns: 1fr;
}

.nav-list {
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;
}